h1,
h2,
h3 {
  font-family: "Vidaloka", serif;
  color: #3ec303; }

h1 {
  color: #3ec303; }

h2 {
  color: #0092d7; }

h3 {
  color: #ee8d09; }

p {
  font-family: "Source Sans Pro", sans-serif; }

body {
  background: linear-gradient(to bottom, white 50%, #b5b5b5 50%); }

#container {
  width: 98%;
  margin: auto;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  align-items: center;
  -webkit-align-items: center;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  background-color: white; }

header {
  width: 100%; }

#logo {
  display: none; }

#nav {
  width: 100%;
  margin: 0; }
  #nav ul {
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    -webkit-flex-flow: column;
    padding: 1%;
    margin: 0;
    list-style-type: none; }
  #nav ul li {
    border: 1px solid grey;
    border-radius: 10px;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    box-shadow: 5px 5px 2.5px lightgrey;
    margin: 1%; }
    #nav ul li p {
      font-family: "Vidaloka", serif;
      font-size: 1em; }
    #nav ul li a {
      margin: 1%;
      color: #0092d7;
      background-color: white;
      font-family: "Vidaloka", serif;
      display: block;
      text-decoration: none;
      justify-content: flex-start;
      -webkit-justify-content: flex-start; }
      #nav ul li a:active, #nav ul li a:hover {
        background-color: #0092d7;
        color: white; }

#nav.js {
  display: none; }

#menu {
  display: flex;
  display: -webkit-flex;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-flow: row;
  -webkit-flex: row;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  width: 100%;
  padding: 2%; }

.selected a {
  background-color: #0092d7;
  color: white; }

#main_body {
  border: 1px solid darkgrey; }

#main_content {
  align-items: center;
  -webkit-align-items: center;
  padding: 2%; }
  #main_content h1 {
    text-align: center; }
  #main_content h1 {
    border-bottom: 1px solid darkgrey; }

#image {
  margin: 2%;
  height: 200px;
  background-image: url("Pics/Green Leaves.jpg");
  background-size: cover; }

#social ul {
  list-style-type: none;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  -webkit-flex-flow: row;
  align-items: center;
  -webkit-align-items: center;
  -webkit-padding-start: 0;
  padding-start: 0; }
  #social ul li {
    flex-grow: 1;
    -webkit-flex-grow: 1; }

footer {
  width: 100%;
  margin: 2% 0 0 0;
  padding: 3%;
  background-color: #92dce0; }

@media (min-width: 768px) {
  #container {
    width: 75%; }

  #logo {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    list-style-type: none;
    -webkit-padding-start: 0; }
    #logo li {
      flex-grow: 1;
      -webkit-flex-grow: 1; }
    #logo li:first-child {
      display: flex;
      display: -webkit-flex;
      -webkit-flex-flow: row;
      -webkit-flex-flow: row;
      align-items: center;
      -webkit-align-items: center; }

  #motto {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    -webkit-flex-flow: row;
    justify-content: flex-end;
    -webkit-justify-content: flex-end; }

  #menu {
    display: none; }

  #nav ul {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    -webkit-flex-flow: row; }
    #nav ul li {
      margin: 1%;
      flex-grow: 1;
      -webkit-flex-grow: 1; }
      #nav ul li a {
        border-radius: 10px;
        text-align: center; } }

/*# sourceMappingURL=style.css.map */
