$header-text: "Vidaloka", serif;
$paragraph-text: "Source Sans Pro", sans-serif;
$primary-color: #067f21;
$secondary-color: #7FFF90;
$purple: rgb(181, 181, 181);
$lightblue: #92dce0;
$darkblue: #0092d7;
$green: #3ec303;
$orange: #ee8d09;

h1, 
h2, 
h3 {
	font-family: $header-text;
	color: $green;
}
h1 {
	color: $green;
}
h2 {
	color: $darkblue;
}
h3 {
	color: $orange;
}

p {
	font-family: $paragraph-text;
}

body {
	background: linear-gradient(to bottom, white 50%, $purple 50%);
}

#container {
	width: 98%;
	margin: auto;
	display: flex;
	display: -webkit-flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	align-items: center;
	-webkit-align-items: center;
	flex-grow: 1;
	-webkit-flex-grow: 1;
	background-color: white;
}

header {
	width: 100%;
}

#logo {
	display: none;
}

#nav {
	width: 100%;
	margin: 0;
	ul {
		display: flex;
		display: -webkit-flex;
		flex-flow: column;
		-webkit-flex-flow: column;
		padding: 1%;
		margin: 0;
		list-style-type: none;
	}
	ul li {
		border: 1px solid grey;
		border-radius: 10px;
		flex-grow: 1;
		-webkit-flex-grow: 1;
		box-shadow: 5px 5px 2.5px lightgrey;
		margin: 1%;
		p {
			font-family: $header-text;
			font-size: 1em;
		} 
		a {
			border-radius: 10px;
			padding: 1%;
			color: $darkblue;
			background-color: white;
			font-family: $header-text;
			display: block;
			text-decoration: none;
			justify-content: flex-start;
			-webkit-justify-content: flex-start;
			&:hover
			{
			background-color: $darkblue;
			color: white;
			}
			&:active {
				background-color: $darkblue;
				color: white;
			}
		}
	}
}

#nav.js {
	display: none;
}

#menu {
	display: flex;
	display: -webkit-flex;
	flex-grow: 1;
	-webkit-flex-grow: 1;
	flex-flow: row;
	-webkit-flex: row;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
	width: 100%;
	padding: 2%;
}

.selected {
	a {
		background-color: $darkblue;
		color: white;
	}
}

#main_body {
	border: 1px solid darkgrey;
}

#main_content {
	align-items: center;
	-webkit-align-items: center;
	padding: 2%;
	h1 {
		text-align: center;
		border-bottom: 1px solid darkgrey;
	}
}

#image {
	margin: 2%;
	height: 200px;
	background-image: url("Pics/Green Leaves4.jpg");
	background-size: cover;
	
}

#social {
	ul {
		list-style-type: none;
		display: flex;
		display: -webkit-flex;
		flex-flow: row;
		-webkit-flex-flow: row;
		align-items: center;
		-webkit-align-items: center;
		-webkit-padding-start: 0;
		padding-start: 0;
		li {
			flex-grow: 1;
			-webkit-flex-grow: 1;
		}
	}
}

footer {
	width: 100%;
	padding: 3%;
	background-color: $lightblue;
}


//How You Can Help Page

#help_content {
	align-items: center;
	-webkit-align-items: center;
	padding: 2%;
	h1 {
		text-align: center;
		border-bottom: 1px solid darkgrey;
	}
}

//Park List Page
#park_content {
	padding: 2%;
	h1 {
		text-align: center;
		border-bottom: 1px solid darkgrey;
	}
}

#parks {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	justify-content: center;
	-webkit-justify-content: center;
	div {
		padding: 3%;
		text-align: center;
	}
}
#park_header {
}

//Volunteer Form Page

#main_body {
	width: 100%;
	form {
		font-family: $paragraph-text;
		font-weight: bold;
		display: flex;
		display: -webkit-flex;
		flex-flow: column;
		-webkit-flex-flow: column;
		padding: 1%;
		h1 {
			margin: auto;
		}
		fieldset {
			background-color: #f4f7f8;
			margin: 1% 0;
			input, 
			textarea {
				font-weight: normal;
			}
		}
		button {
			width: 60%;
			margin: auto;
		}
	}
}
#basic_info {
	display: flex;
	display: -webkit-flex;
}
.light {
	font-weight: normal;
}
#olmstead_parks {
	margin-bottom: 2%;
}
#why_volunteer {
	width: 60%;
	height: 8em;
}

//Media Querries

@media (min-width: 768px) {
	#container {
		width: 75%;
	}
	#logo {
		display: flex;
		display: -webkit-flex;
		-webkit-flex-flow: row;
		flex-flow: row;
		list-style-type: none;
		-webkit-padding-start: 0;
		li {
			flex-grow: 1;
			-webkit-flex-grow: 1;
		}
		& li:first-child {
			display: flex;
			display: -webkit-flex;
			-webkit-flex-flow: row;
			-webkit-flex-flow: row;
			align-items: center;
			-webkit-align-items: center;
		}
	}
	#motto {
		display: flex;
		display: -webkit-flex;
		flex-flow: row;
		-webkit-flex-flow: row;
		justify-content: flex-end;
		-webkit-justify-content: flex-end;
	}
	#menu {
		display: none;
	}
	#nav {
		ul {
			display: flex;
			display: -webkit-flex;
			flex-flow: row;
			-webkit-flex-flow: row;
			li {
				margin: 1%;
				flex-grow: 1;
				-webkit-flex-grow: 1;
				a {
					border-radius: 10px;
					text-align: center;
				}
			}
		}
	}
	#image {
		height: 350px;
	}
	#main_content {
		display: flex;
		display: -webkit-flex;
		flex-flow: row;
		-webkit-flex-flow: row;
		align-items: flex-start;
		-webkit-align-items: flex-start;
		> div {
			flex: 1 1 auto;
			-webkit-flex: 1 1 auto;
			width: 50%;
			padding: 0 2%;
		}
	}
}

//@media 900
